[project]
	description = Heat Micro Versioning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JinLi7351
[access "refs/for/refs/*"]
	read = group user/JinLi7351
	push = group user/JinLi7351
	label-Code-Review = -2..+2 group user/JinLi7351
	label-Verified = -1..+1 group user/JinLi7351
	rebase = group user/JinLi7351
	removeReviewer = group user/JinLi7351
	submit = group user/JinLi7351
[access "refs/heads/*"]
	read = group user/JinLi7351
	create = group user/JinLi7351
	push = +force group user/JinLi7351
	pushMerge = group user/JinLi7351
[access "refs/tags/*"]
	push = +force group user/JinLi7351
	pushTag = group user/JinLi7351
	pushSignedTag = group user/JinLi7351
